[submodule "src/contrib/Unity"]
	path = src/contrib/unity
	url = git@github.com:ThrowTheSwitch/Unity.git
[submodule "src/contrib/cregex"]
	path = src/contrib/cregex
	url = git@github.com:jserv/cregex.git
[submodule "src/contrib/cc65"]
	path = src/contrib/cc65
	url = git@github.com:cc65/cc65.git
