src/config
*.o
*.o.S
*.lbl
*.map
*.dbg
*.prg
*.a
src/contrib/exomizer-3.0.2/src/deps
src/contrib/exomizer-3.0.2/src/exobasic
src/contrib/exomizer-3.0.2/src/exomizer
src/contrib/exomizer-3.0.2/src/sfxdecr
src/contrib/exomizer-3.0.2/src/sfxdecr.c
git-version
mkfs/mkfs.ultifs
src/bin/cbm-console/cbm-console
src/bin/csv2html/csv2html
src/bin/desktop/charset-4x8.bin
src/bin/desktop/desktop-file-window.bin
src/bin/desktop/desktop-lib.bin
src/bin/desktop/desktop.bin
src/bin/lisp/doc/manual.pdf
src/bin/lisp/doc/compiler.pdf
src/bin/lisp/git-version.lisp
src/bin/lisp/lisp
src/bin/lisp/vi
src/bin/vi/vi
src/bin/vm/rom
src/drv/ultifs/ultifs
src/lib/bdb/bdb
src/lib/term-test/term-test
src/sbin/fstest/fstest
src/sbin/ultiburn/ultiburn
src/sbin/ultidump/ultidump
src/sbin/ultitest/ultitest
src/sys/boot/flashboot.bin
src/sys/kernel/init
src/sys/kernel/tunix
empty-ultimem.img
tunix.img
tunix.trimmed.img
tunix/
