# Build oscar64 compiler.
#HAVE_OSCAR64 = 1

# Make release version with NDEBUG and reduced verbosity.
#RELEASE = 1

# Do not compile in code for debugging.  Usually leads to
# noticeably smaller and faster code.
#NDEBUG = 1

# One of 'c128', 'c16' (32K), 'c64', 'pet', 'plus4', 'vic20'
# or 'unix'.  Target 'pet' needs fixing.
# Always required.
TARGET = vic20
