# Target machine
#
# Always required.
# One of 'c128', 'c16' (32K), 'c64', 'pet', 'plus4', 'vic20'
# or 'unix'.  Target 'pet' needs fixing.
TARGET = vic20  # VIC-20 has the largest code base.

# Build oscar64 compiler.
# It's not used!
#HAVE_OSCAR64 = 1

# Check if objects pointed to look sane.
# On TARGET_UNIX the address is checked by walking over the heap. (SLOW!)
# Keep this enabled on other targets unless you have a stable release.
#CHECK_OBJ_POINTERS = 1

# Compress conses whose CDR points to the following object.
# (EXPERIMENTAL!)
#COMPRESSED_CONS = 1
#VERBOSE_COMPRESSED_CONS = 1  # Print 'C' for each compressed cons.

# GC after load threshold in bytes.
# If total free heap is below, GC is run compressing conses if
# COMPRESS_CONS is enabled.
# Set to this default automatically if COMPRESSED_CONS is enabled.
# (Might change in the future.)
#GC_AFTER_LOAD_THRESHOLD = 2048

# Stress out TUNIX Lisp's garbage collector by triggering
# it before every object allocation.  Intended to be set
# in build scripts.
#GC_STRESS = 1

# Load all environment files.
#LOAD_ALL = 1

# Build TUNIX Lisp with absolutely nothing related to
# testing or handling errors, reducing code size as much as
# possible.
#NAIVE = 1

# Do not include extra checks to spot internal errors.
#NDEBUG = 1

# Do not check on CPU stack overflow.
#NO_CHECK_CPU_STACK = 1

# Build TUNIX Lisp without debugger.
#NO_DEBUGGER = 1

# Build TUNIX Lisp without saving or loading images.
#NO_IMAGES = 1

# Build TUNIX Lisp without user-defined ONERROR handler.
#NO_ONERROR = 1

# Include all checks, no matter if they seem to be a waste
# of time.
#PARANOID = 1

# Print expression to eval() and return values.
#VERBOSE_EVAL = 1

# Build TUNIX Lisp with verbose garbage collector.
#
# It prints character
#
# * 'M' before the mark phase,
# * 'S' before the sweep phase,
# * 'R' before the relocation phase, and
# * 'N' if the next heap is being switched to.
#
# The number of bytes freed after GC is also printed.
#VERBOSE_GC = 1

# Print pathnames of LOADed files.
#VERBOSE_LOAD = 1
